<div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand font-weight-bold">Bug Tracking System</a>
      <a class="navbar-brand"  routerLink="/" routerLinkActive="active">Home </a>
      <a class="navbar-brand"  routerLink="/create" routerLinkActive="active">Create </a>
      <a routerLink="/search" class="navbar-brand" routerLinkActive="active">Search</a>
      <a routerLink="/update/:id" class="navbar-brand" routerLinkActive="active">Update</a>
    </nav>
  </div>
