<body class="jumbotron">
  <div class="row">
  <div class="col-sm">
<label>Search by Name</label><br>
<input [(ngModel)]='bug.inputName' name="name" class="form-control" > <button (click)="getByName(bug.inputName)" class="btn btn-primary"> Search</button>
</div>
<div class="col-sm">
<label>Search by Status</label><br>
<select id="status" [(ngModel)]='bug.inputStatus' class="form-control">
  <option *ngFor="let value of statusValues" [value]="value">{{value}}</option>
</select> <button (click)="getByStatus(bug.inputStatus)" class="btn btn-primary"> Search</button>
</div>
</div>
  <!-- <label >Search by Status and Name</label><br> -->
  <br>
<button (click)="getByStatusAndName(bug.inputStatus,bug.inputName)" class="btn btn-primary"> Search by Status and Name</button>


<h2 class="text-center">BUG INFORMATION</h2>
<div>
  <table class="table table-hover table-responsive ">
  <thead>
  <th>Name</th>
  <th>Product</th>
  <th>Module</th>
  <th>ProjectId</th>
  <th>Synopsis</th>
  <th>Description</th>
  <th>Status </th>
  <th>Priority</th>
  <th>Severity</th>
  <th>Type</th>
  <th>BuildVersion</th>
  <th>DeveloperId</th>
  <th>TesterId</th>
  <th>EtaDate
  <th>SubmittedOn</th>
</thead>
<tbody>
  <tr *ngFor ='let bug of bugArray; index as i'>
    <td><p class="ellipses">{{bug.name}}</p></td>
    <td>{{bug.product}}</td>
    <td>{{bug.module}}</td>
    <td>{{bug.projectId}}</td>
    <td><p class="ellipses">{{bug.synopsis}}</p></td>
    <td ><p class="ellipses">{{bug.description}}</p></td>
    <td>{{bug.status | titlecase}}</td>
    <td>{{bug.priority | titlecase}}</td>
    <td>{{bug.severity | titlecase}}</td>
    <td>{{bug.type | titlecase}}</td>
    <td>{{bug.buildVersion}}</td>
    <td>{{bug.developerId}}</td>
    <td>{{bug.testerId}}</td>
    <td>{{bug.etaDate | date:'M/d/YY'}}</td>
    <td>{{bug.submittedOn | date:'M/d/YY'}}</td>
    <td><button (click)="deleteBug(bug.id,i)" class="btn btn-danger">X</button></td>
  </tr>
</tbody>
</table>
</div>
</body>
