<input [(ngModel)]='bug.name' type="text" placeholder="Name"><br>
<input [(ngModel)]='bug.product' type="text" placeholder="Product"><br>
<input [(ngModel)]='bug.module' type="text" placeholder="Module"><br>
<input [(ngModel)]='bug.projectId' type="text" placeholder="Project Id"><br>
<input [(ngModel)]='bug.synopsis' type="text" placeholder="Synopsis"><br>
<input [(ngModel)]='bug.description' type="text" placeholder="Description"><br>
<select id="status" [(ngModel)]='bug.status'>
  <option *ngFor="let value of statusValues" [value]="value">{{value}}</option>
</select>
<select id="priority" [(ngModel)]='bug.priority'>
  <option *ngFor="let value of priorityValues " [value]="value">{{value}}</option>
</select>
<select id="type" [(ngModel)]='bug.type'>
  <option *ngFor="let value of typeValues " [value]="value">{{value}}</option>
</select>
<select id="severity" [(ngModel)]='bug.severity'>
  <option *ngFor="let value of severityValues " [value]="value">{{value}}</option>
</select><br>
<input [(ngModel)]='bug.developerId' type="number" placeholder="Developer Id"><br>
<input [(ngModel)]='bug.testerId' type="number" placeholder="Tester Id"><br>
<input [(ngModel)]='bug.etaDate' type="date" placeholder="Eta"><br>
<input [(ngModel)]='bug.buildVersion' type="text" placeholder="Build Version"><br>
<button (click)='save()'>Save</button>
<table *ngIf bugArray.length>
  <thead>
  <th>Name</th>
  <th>Product</th>
  <th>Module</th>
  <th>ProjectId</th>
  <th>Synopsis</th>
  <th>Description</th>
  <th>Status</th>
  <th>Priority</th>
  <th>Severity</th>
  <th>Type</th>
  <th>BuildVersion</th>
  <th>DeveloperId</th>
  <th>TesterId</th>
  <th>EtaDate
  <th>SubmittedOn</th>
</thead>
<tbody><td>{{bug.name}}</td>
  <tr *ngFor ='let bug of bugArray'>
    <td>{{bug.name}}</td>
    <td>{{bug.product}}</td>
    <td>{{bug.module}}</td>
    <td>{{bug.projectId}}</td>
    <td>{{bug.synopsis}}</td>
    <td>{{bug.description}}</td>
    <td>{{bug.status}}</td>
    <td>{{bug.priority}}</td>
    <td>{{bug.severity}}</td>
    <td>{{bug.type}}</td>
    <td>{{bug.buildVersion}}</td>
    <td>{{bug.developerId}}</td>
    <td>{{bug.testerId}}</td>
    <td>{{bug.etaDate}}</td>
    <td>{{bug.submittedOn}}</td>
  </tr>
</tbody>
</table>
