<div class=jumbotron>

<h1 class="text-center">  BUG TRACKING SYSTEM </h1>
  <div class="row">
    <div class="col-7">
    <img class=" img-responsive img-fluid img-rounded w-50" src="assets/bug.png">
  </div>
  <div class="col-4">
  Bug tracking system is essentially and effectively implemented to monitor the status of bugs in an application.
  All the bugs that are identified are stored in a database.
  Each bug is assigned with an unique bug id and respective status of bug.
</div>
</div>
</div>
